<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">eStitch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        {% if session.logged_in %}
          {% if session.admin_level > 0%}
            <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
          {% else %}
            <li><a class="nav-link" href="/profile">Profile</a></li>
          {% endif %}
          <li><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}
          <li><a class="nav-link" href="/register">Register</a></li>
          <li>
            <a class="nav-link" href="" data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal"">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'includes/_login.html' %}
      </div>
    </div>
  </div>
</div>
