<style media="screen">
  #product_card {
    margin-top: 30px;
  }

  .product_img {
    max-width: 100%;
    height: 300px;
  }

  .card_price{
    alig
  }
</style>
<div class="row">
  {% for product in products %}
  <div class="col-sm-4" id="product_card">
    <div class="card" style="width: 18rem;">

      {% if product.images != [] %}
      <img class="product_img" src="{{url_for('products.get_image', id=product.id, filename=product.images[0])}}" alt="{{image1}}">
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{product.name}} - <em>{{product.category}}</em></h5>
        <h6> ${{product.price}} </h6>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div class="card-body">
        <a href="/product/{{product.id}}" class="card-link">Buy</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
