<style media="screen">
  #container {
    position: relative;
    margin-top: 30px;

  }

  .product_img {
    display: block;
    width: 100%;
    height: 300px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  #container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .edit {
    color: white;
  }

  .delete {
    color: red;
    font-size: 30px;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: grey;
  }
</style>

<div class="row">
  {% for product in products %}
  <div class="col-sm-4" id="product_card">
    <div id="container">

      <img class="product_img" src="{{url_for('products.get_image', id=product.id, filename=product.images[0])}}" onerror="this.onerror=null;this.src='/static/images/noimage.png';">

      <div class="overlay">
        <div class="text">
          <h5>
            <a class="edit" href="/update/{{product.id}}">PUBLISH</a>

            <a class="edit" href="/update/{{product.id}}">EDIT</a>
          </h5>

          <h5 class="card-title">{{product.name}} - <em>{{product.category}}</em></h5>
          <h6> ${{product.price}} </h6>
          <h5>
            <a class="delete" href="/delete/{{product.id}}">&times;</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
