# Atom package manager
setup.cfg
PennPy/config.py

PennPy/static/images/*
PennPy.egg-info

# Ignore cached data
PennPy/__init__.pyc
PennPy/__pycache__
PennPy/endpoints/__pycache__
PennPy/endpoints/main/__pycache__
PennPy/endpoints/products/__pycache__
PennPy/endpoints/users/__pycache__
PennPy/endpoints/orders/__pycache__
