{% extends "layout.html" %}
{% block title %}eCommerce{% endblock %}

{% block content %}

<style media="screen">
  .createlist {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .viewlist {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .implement {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

<div id="accordion">
  <div class="card createlist">
    <a href="#" data-toggle="collapse" data-target="#collapseOne">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" aria-expanded="true" aria-controls="collapseOne">
            Create Listing
          </button>
        </h5>
      </div>
    </a>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {% include 'includes/_create_product.html' %}
      </div>
    </div>
  </div>

  <div class="card viewlist">
    <a href="#" data-toggle="collapse" data-target="#collapseTwo">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="collapseTwo">
            View Listings
          </button>
        </h5>
      </div>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <!-- Import create a product component -->
        {% include 'includes/_unpublished_listings.html' %}
      </div>
    </div>
  </div>

  <div class="card implement">
    <a href="#" data-toggle="collapse" data-target="#collapseThree">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="collapseThree">
            Implement
          </button>
        </h5>
      </div>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

{% endblock %}
