{% extends "layout.html" %}
{% block title %}eCommerce{% endblock %}

{% block content %}

<style media="screen">
  .main {
    padding: 0 0 0 50px;
  }
</style>

<div class="container-fluid">
  {% include 'includes/_dashboard_menu.html' %}
  <div class="main">
    <div class="row">
      <div class="collapse multi-collapse" id="create_product">
        <!-- Import create a product component -->
        {% include 'includes/_create_product.html' %}
      </div>
      <br>

      <div class="collapse multi-collapse" id="view_product">

        <h2> Listings </h2>
        <!-- Import create a product component -->
        {% include 'includes/_product_card.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
