<!DOCTYPE html>
<html>
  <head>
    <title>JQSlider</title>
    <link rel="stylesheet" href="static/style.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    <script src="static/main.js"></script>
  </head>
  <body>

    {% for product in products %}
    <div class="container">
      <h1>JQSlider</h1>
      <div class="slider-outer">
        <img src="static/images/arrow-left.png" class="prev" alt="Prev">
        <div class="slider-inner">
          {% for image in product.images %}
            <img src="{{url_for('get_image', id=product.id, filename=image)}}" class="item{% if loop.index == 1 %} active{% endif %}">
          {% endfor %}
        </div>
        <img src="static/images/arrow-right.png" class="next" alt="Next">
      </div>
    </div>
    {% endfor %}
  </body>
</html>
